body{
    background-color: black;
}
img{
    margin-top: -8px;
    margin-inline: -8px;
    height:80%;
    width:100%;
}
div{
    font-family: 'Courier New', Courier, monospace;
    margin: -8px;
    border-width: 0px; ;
    border-top-width:2px ;
    border-style:solid ;
    text-align: center;
    color: azure;
    border-color:purple ;
    background-color: black;
    bottom: 10px;
    height: 20%;
    width: 100%;
    position: absolute;

}
h1{
    color: azure;
    
}